page-my-profile {
.user-info-item{ 
    .user-info{

      .item-inner{
        border-bottom: none !important;
      } 
      .user-profile{
        width: 60px !important;
        height: 60px !important;
      }
      .user-name{
        font-size: x-large;
        font-weight: 600;
      }
      .main-grid{  
        .like{
          width: 18px !important;
          height: 18px !important;

        }
        ion-col , .card-content-md{
          padding:0 !important;
        }
      }

    } 
  }
  
  
  .contacts-ion-item{
    background: #fcfff2;
  }
  ion-slides{
    height: 10% !important;
    margin-top:5px !important; 

    ion-slide{
      width: 50px !important;
      margin-right: 10px;

      img{
        width: 50px !important;
        height: 50px !important;
      }


      .contact-name{
        margin-top:5px;
        font-size: small;
        font-weight: 100;
      }

    }
    .swiper-pagination{ 
      display: none;
    }

  }

}
