page-catalog {
  .container{
    background: whitesmoke;

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 8px;

      .card-content-md{
        padding:5px 16px 5px 16px !important;

        .price-col{
          text-align: left
        }

        .fire{
          width: 13px;
          height: 16px;
          float:right;
        }
      }
      
    }
    .list-div{
      border : 1px solid #dedede;
      border-radius: 8px;
      margin-top:10px;

      .item-md{ 
        background: transparent;

        .item-inner{ 
          border : none !important;
        }

      }  
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    


    // .img-container{
    //   -webkit-box-shadow: inset 0px -140px 300px -64px rgba(0,0,0,0.75);
    //   -moz-box-shadow: inset 0px -140px 300px -64px rgba(0,0,0,0.75);
    //   box-shadow: inset 0px -140px 300px -64px rgba(0,0,0,0.75);
    // }

    ion-col{
      padding : 0 !important;
    }

  }

}
