page-home {
  .card-content-md {
    padding:0 !important;
  } 
  ion-card img{
    height: 220px !important; 
  }
  ion-col{
    padding:0 !important;
  }
  .avatar-grid{ 
    height: 0px;
    margin-left: 30px;

    .avatar{
      width: 20px !important;
      height: 20px !important; 
      border-radius: 50%; 
    }
  }
  .like{
      width: 18px !important;
      height: 18px !important;

    }
}
