// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-title{
  text-align: center;
  color: white !important;
}
.toolbar-background-md {
    /* border-color: #b2b2b2; */
    background: black;
}
.toolbar-title-md{
    color: white !important;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{ 
    color: white !important;
}
#tab-t0-2{
    background: #5e00ff;
    border-radius: 50%;
    height: 72px;
    margin-top: -10px; 
    
    .tab-button-icon{
        font-size:3.5rem !important;
        color : white !important;
    } 
}